---
import HeaderLink from "./HeaderLink.astro";
---

<header class="h-[68px] mb-16 sticky top-0 bg-white">
  <nav class="max-w-[1024px] mx-auto flex items-center h-full">
    <nav>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="https://github.com/LuiGeeDev" target="_blank">
        GitHub
      </HeaderLink>
    </nav>
  </nav>
  <hr />
</header>
